<header>
    <nav role="navigation" class="nav">     
      <a class="nav-link" href="index.html" title="Home">
        <img class="home-logo" src="assets/images/logo-home.png" alt="home-logo">
      </a>  
      <ul class="nav__container">
        <li class="nav__container--item"><a class="nav-link" href="members.html" title="Members">Members</a>
        </li>
        <li class="nav__container--item"><a class="nav-link" href="bio.html" title="Bio">Bio</a>
        </li>
        <li class="nav__container--item"><a class="nav-link" href="merch.html" title="Merch">Merch</a>
        </li>
      </ul> 
    </nav>
</header>